  @import "bootstrap-sprockets";
  @import "bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h2, .h2 {
  font-size: 30px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p {
  margin: 0 0 10px;
}

.fallback {
  height: 40px;
  width: 40px;
}

div {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// /*ヘッダー*/
header {
  color: white;
}

header .navbar-left span {
  font-size: 20px;
  padding-top: 10px;
}

.body {
  margin-top: 51px;
}

/*トップ*/
a:visited {
  color: #666;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

#error_explanation {
  color: red;
}
